<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/cask.css">

    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/cask.js" type="text/javascript"></script>
  </head>
  <body>
    <a href="/">
      <img id="logo" src="/img/cask-small.png" />
    </a>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-10">
          <a href="/" class="navbar-brand">
            Cask -
            <small>
              Project management for Emacs package development
            </small>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-lg-2 sidebar-wrapper">
          <ul class="nav nav-pills nav-stacked">
            {% for node in site.pages %}
              {% if page.url == node.url %}
                <li class="active">
                  <a href="{{node.url}}">{{node.title}}</a>
                </li>
              {% else %}
                <li>
                  <a href="{{node.url}}">{{node.title}}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-8">
          <div class="alert alert-info">
            <strong>Documentation moved!</strong>  The Cask documentation
            moved to <a href="http://cask.readthedocs.org/">http://cask.readthedocs.org</a>.
            This documentation is kept for historical purposes and not updated anymore.
            Please consult the current documentation.
          </div>
          {{ content }}
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </body>
</html>
